---
services:
  celery:
    extends:
      file: ../base/docker-compose.yaml
      service: celery
    env_file:
      confidentialbackend.env

  confidentialbackend:
    extends:
      file: ../base/docker-compose.yaml
      service: confidentialbackend
    env_file:
      confidentialbackend.env

  summary:
    extends:
      file: ../base/docker-compose.yaml
      service: summary
    env_file:
      - summary.env

  fhir:
    extends:
      file: ../base/docker-compose.yaml
      service: fhir

  logs:
    extends:
      file: ../base/docker-compose.yaml
      service: logs
    env_file:
      - logs.env

  db:
    extends:
      file: ../base/docker-compose.yaml
      service: db

  redis:
    extends:
      file: ../base/docker-compose.yaml
      service: redis

volumes:
  db-data: {}
  log-files: {}

networks:
  # internal network for backing services
  internal:

  # ingress network
  ingress:
    external: true
    name: external_web
